@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
body {
  margin: 0;
  font-family: "Roboto";
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
}

.about__body__ul {
  list-style-image: url("15.png");
}

.btnround {
  padding: 10px 48px;
  border-radius: 100px;
}

.dragdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(img);
  height: 100vw;
  background-color: #0cb466;
  width: 100%;
}

.dragdrop__workflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dragdrop__img1 {
  padding-right: 30px;
}

.dragdrop__img3 {
  z-index: 0;
  -webkit-transform: translate(-665px, 130px);
          transform: translate(-665px, 130px);
  max-width: 26.6vw;
}

.img-responsive {
  max-height: 10.65vw;
  max-width: 19.65vw;
}

.footer {
  background-color: #fff;
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0e1a35;
  z-index: 2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  width: 11.65vw;
  height: 3.25vw;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
}

.header-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header-menu__link {
  color: white;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 0,7s ease;
  transition: 0,7s ease;
}

.header-menu__link:hover {
  color: dodgerblue;
}

.header-menu__btn {
  color: #224494;
  border: 1px solid #224494;
  padding: 10px 30px;
  border-radius: 200px;
  border-radius: 100px;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
}

.about-item__btn {
  border: 2px solid #e6e8ef;
  padding: 10px 65px;
  font-weight: 400;
}

.about-item__image {
  padding-top: 30px;
}

.about-item__text {
  color: #8492af;
  line-height: 2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.about-item__title {
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110vh;
  min-height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0e1a35;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 0;
}

.main__getstartedbtn {
  border: 1px solid #224494;
  color: white;
  background-color: #5584ff;
  border-radius: 130px;
}

.main__slogan1 {
  padding-top: 40px;
}

.main__slogan2 {
  font-size: 20px;
  color: #8492af;
}

.slogan1 {
  font-size: clamp(40px, 3vw, 70px);
  line-height: 1;
  font-weight: 100;
  color: white;
  text-align: center;
  z-index: 1;
}

.menu__btn {
  color: #224494;
  border: 1px solid #224494;
  padding: 10px 35px;
}

.app-screenshot {
  position: absolute;
  max-width: 51.2vw;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-availibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.availibility-textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textblock__slogan {
  color: black;
  line-height: 1;
}

.screenshot1 {
  width: 65.3vw;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 15px 0 0 180px;
  }
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburger__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header-menu__item {
    margin: 16px 0;
  }
  .header-menu__ul {
    position: fixed;
    left: -120%;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #224494;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-menu__ul.active {
    left: 0;
    margin: 0;
  }
  .header-menu__btn {
    color: white;
    border: none;
    padding: none;
    border-radius: none;
  }
  .about-availibility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .screenshot1 {
    width: 100vw;
  }
}
/*# sourceMappingURL=style.css.map */