@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body {
    margin: 0;
    font-family: "Roboto";
}

.about {

    &__body {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 120vh;
        width: 100%;

    }
}

.btnround {
    padding: 10px 48px;
    border-radius: 100px;
}

.dragdrop {
    background-color: rgb(12, 180, 102);
    height: 50vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.footer {
    background-color: #fff;
    height: 10vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.header {
    display: flex;
    position: absolute;
    flex: 0 0 60px;
    background-color: #0e1a35;
    z-index: 2;
    width: 100%;
    justify-content: space-around;
    padding-top: 1%;

    &__logo {}
}

.header-menu {
    width: 30%;

    &__ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    &__link {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;

    &__btn {
        border: 2px solid #e6e8ef;
        padding: 10px 65px;
        font-weight: 400;
    }

    &__image {}

    &__text {
        color: #8492af;
        line-height: 2;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__title {
        font-weight: bold;
        padding-top: 20px;
        font-size: 20px;
    }
}

.layoutpricing {}

.main {
    display: flex;
    height: 110vh;
    min-height: 300px;

    align-items: center;
    background-color: #0e1a35;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    z-index: 0;

    &__getstartedbtn {
        border: 1px solid #224494;
        color: white;
        background-color: #5584ff;
        border-radius: 130px;
    }

    &__overlay {}

    &__slogan {
        font-size: 60px;


        font-weight: 100;
        color: rgb(255, 255, 255);
        line-height: 0.24;
        text-align: center;
        z-index: 1;
        padding-top: 5%;
    }

    &__slogan2 {
        font-size: 20px;
        color: #8492af;
    }
}

.menu {
    &__btn {
        color: #224494;
        border: 1px solid #224494;
        padding: 10px 35px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
}