@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

body {
    margin: 0;
    font-family: "Roboto";
}

.about {

    &__body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        background-color: white;
       
        width: 100%;

    }
}

.btnround {
    padding: 10px 48px;
    border-radius: 100px;
}

.dragdrop {
    background-color: rgb(12, 180, 102);
    height: 50vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.footer {
    background-color: #fff;
    height: 10vh;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.header {
    display: flex;

    background-color: #0e1a35;
    z-index: 2;

    justify-content: space-around;
   

    &__logo {
        width:11.65vw;
        height:3.25vw;
    }

}
.header-hamburger{
    display:none;
    cursor:pointer;
    &__bar{
        display:block;
        width:25px;
        height:3px;
        margin:5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: white;
      }
}
.header-menu {
    
    display:flex;

    &__ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__link {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding:10px;
        transition: 0,7s ease;
    }
    &__link:hover{
        color:dodgerblue;
    }
    
    &__btn{
        color:#224494;
        border:1px solid #224494;
        padding: 10px 30px;
        border-radius:200px;
    }
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 450px;

    &__btn {
        border: 2px solid #e6e8ef;
        padding: 10px 65px;
        font-weight: 400;
    }

    &__image {}

    &__text {
        color: #8492af;
        line-height: 2;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__title {
        font-weight: bold;
        padding-top: 20px;
        font-size: 20px;
    }
}

.layoutpricing {}

.main {
    display: flex;
    height: 110vh;
    min-height: 300px;

    align-items: center;
    background-color: #0e1a35;
    flex-direction: column;
    justify-content: space-around;

    z-index: 0;

    &__getstartedbtn {
        border: 1px solid #224494;
        color: white;
        background-color: #5584ff;
        border-radius: 130px;
    }

    &__overlay {}

    &__slogan1 {
        padding-top: 40px;
    }

    &__slogan2 {
        font-size: 20px;
        color: #8492af;
    }
}
.slogan1 {
    font-size:clamp(40px, 3vw, 70px);
    line-height:1;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 1;
    
}
.menu {
    &__btn {
        color: #224494;
        border: 1px solid #224494;
        padding: 10px 35px;
    }
}
.app-screenshot{
    position:absolute;
    width:51.2vw;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

// .header-fixed {
//     position: fixed;
//     top: 0;
//     left: 0;
// }

.about-availibility {
    display:flex;
    justify-content: space-between;
    
    
    

}
.availibility-textblock{
     display:flex;
     flex-direction: column;

}
.textblock{
    &__slogan{
color:black;
line-height: 1;
    }
    &__text{

    }
}
.screenshot1{
    width:65.3vw;
    height:33.35vw;
}
@media(max-width:768px){
    .header-hamburger{
        display:block;
    }
    .header-hamburger.active .header-hamburger__bar:nth-child(2){
        opacity:0;
    }
    .header-hamburger.active .header-hamburger__bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .header-hamburger.active .header-hamburger__bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .header-menu__ul{
        position:fixed;
        left: -100%;
        gap:0;
        flex-direction:column;
        background-color: #224494;
        width:100%;
        text-align:center;
        transition:0.3s;
        &__link{
            margin: 16px 0;
        }
    }
    .header-menu__ul.active{
        left:0;
    }
}
