@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@use "variables.scss";
body {
  margin: 0;
  font-family: "Roboto";
  font-size: clamp(20px, 1.2vw, 24px);
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
}

.about-ul {
  list-style-image: url("https://raw.githubusercontent.com/mylifeisgame/Coding-example01/master/img/15.png");
  font-size: clamp(20px, 1.45vw, 29px);
}

.about-ul__li {
  color: #5584ff;
}

.btnround {
  padding: 10px 48px;
  border-radius: 100px;
}

.dragdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(https://raw.githubusercontent.com/mylifeisgame/Coding-example01/master/img/02.png), url(https://raw.githubusercontent.com/mylifeisgame/Coding-example01/master/img/13.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 757px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dragdrop__workflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dragdrop__in-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 2vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.dragdrop__completed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.dragdrop__img1 {
  padding-left: 6vw;
}

.dragdrop__img2 {
  padding-left: 3vw;
}

.dragdrop__slogan {
  padding-bottom: 50px;
  color: #8492af;
}

.dragdrop__textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dragdrop__info {
  color: #8492af;
  text-align: center;
}

.dragdrop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: url("https://raw.githubusercontent.com/mylifeisgame/Coding-example01/master/img/cursor.png"), auto;
  width: clamp(156.8px, 19.65vw, 392px);
  height: clamp(42.6px, 5vw, 106.5px);
  background-color: white;
  z-index: 1;
}

.dragdrop-item__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.dragdrop-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dragdrop-item__letter {
  background: #5584ff;
  color: white;
  width: clamp(20px, 2vw, 40px);
  height: clamp(20px, 2vw, 40px);
  font-size: clamp(10px, 1vw, 20px);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* or inline-flex */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dragdrop-item__title {
  color: black;
  font-size: clamp(15px, 1vw, 22px);
}

.dragdrop-item__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.7vw;
}

.dragdrop-item__li {
  font-size: clamp(10px, 0.75vw, 15px);
  color: grey;
}

.dragdrop-drop-here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: clamp(156.8px, 19.65vw, 392px);
  height: clamp(42.6px, 5vw, 106.5px);
  border: 1px dotted #8492af;
  margin: 0.5vw;
  color: #8492af;
}

.img-responsive {
  max-height: 10.65vw;
  max-width: 19.65vw;
}

.footer {
  background-color: #fff;
  height: 10vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0e1a35;
  z-index: 2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  width: 11.65vw;
  height: 3.25vw;
  padding-top: 10px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger__bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 70px;
}

.header-menu__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header-menu__link {
  color: white;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: 0, 7s ease;
  transition: 0, 7s ease;
}

.header-menu__link:hover {
  color: dodgerblue;
}

.header-menu__btn {
  color: #224494;
  border: 1px solid #224494;
  padding: 10px 30px;
  border-radius: 200px;
  border-radius: 100px;
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
}

.about-item__btn {
  border: 2px solid #e6e8ef;
  padding: 10px 65px;
  font-weight: 400;
  margin-bottom: 15vw;
}

.about-item__image {
  padding-top: 5vw;
}

.about-item__text {
  color: #8492af;
  line-height: 2;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.about-item__title {
  font-weight: bold;
  padding-top: 20px;
  font-size: clamp(20px, 1vw, 25px);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110vh;
  min-height: 300px;
  background-image: url(https://raw.githubusercontent.com/mylifeisgame/Coding-example01/master/img/02.png), url(https://raw.githubusercontent.com/mylifeisgame/Coding-example01/master/img/13.png);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 0;
}

.main__img {
  position: absolute;
  top: 700px;
  left: 500px;
  max-width: clamp(512px, 51.2vw, 1024px);
  -webkit-box-shadow: -19px -2px 26px 6px rgba(20, 36, 74, 0.5);
  box-shadow: -19px -2px 26px 6px rgba(20, 36, 74, 0.5);
}

.main__getstartedbtn {
  border: 1px solid #224494;
  color: white;
  background-color: #5584ff;
  border-radius: 130px;
}

.main__slogan1 {
  padding-top: 40px;
}

.main__slogan2 {
  font-size: 20px;
  color: #8492af;
}

.slogan1 {
  font-size: clamp(40px, 3vw, 70px);
  line-height: 1;
  font-weight: 100;
  color: white;
  text-align: center;
  z-index: 1;
}

.menu__btn {
  color: #224494;
  border: 1px solid #224494;
  padding: 10px 35px;
}

.app-screenshot {
  position: absolute;
  max-width: 51.2vw;
  text-align: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-availibility {
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.availibility-textblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8492af;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textblock__slogan {
  color: black;
  line-height: 1;
}

.screenshot1 {
  width: 65.3vw;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
}

.customize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customize__h {
  color: black;
}

.customize__desc1 {
  color: #8492af;
  text-align: center;
}

.customize-demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    padding: 15px 0 0 180px;
  }
  .hamburger.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .hamburger__bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .hamburger__bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .header-menu__item {
    margin: 16px 0;
  }
  .header-menu__ul {
    position: fixed;
    left: -120%;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #224494;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header-menu__ul.active {
    left: 0;
    margin: 0;
  }
  .header-menu__btn {
    color: white;
    border: none;
    padding: none;
    border-radius: none;
  }
  .about-availibility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .screenshot1 {
    width: 95vw;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .dragdrop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main__img {
    display: none;
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */